In [1]:
import numpy as np
import pandas as pd

In [2]:
altura=np.round(np.random.normal(1.75,.1,5000),2)
peso=np.round(np.random.normal(65,10,5000),2)
edad=np.round(np.random.normal(30,3,5000))

In [3]:
persona_medidas=np.column_stack((altura,peso,edad))

In [4]:
df=pd.DataFrame({"Altura":altura,"Peso":peso,"Edad":edad})

In [5]:
df2=pd.DataFrame(persona_medidas, columns=["Alturota","Pesito","Edades"])

In [37]:
df2.head()

   Alturota  Pesito  Edades
0      1.88   71.22    26.0
1      1.99   76.09    31.0
2      1.95   43.92    31.0
3      1.61   64.52    28.0
4      1.79   61.27    29.0

In [36]:
df.head()

   Altura   Peso  Edad
0    1.88  71.22  26.0
1    1.99  76.09  31.0
2    1.95  43.92  31.0
3    1.61  64.52  28.0
4    1.79  61.27  29.0