In [22]:
import pandas as pd
import numpy as np

In [23]:
altura=np.round(np.random.normal(1.70,.15,5000),2)
peso=np.round(np.random.normal(65,20,5000),2)
edad=np.round(np.random.normal(35,6,5000))

In [ ]:
personas_tallas=np.column_stack((altura,peso,edad))
print(personas_tallas)
# aqui hago un apilado de arrays

[[ 1.52 65.91 29.  ]
 [ 1.57 55.82 30.  ]
 [ 1.9  71.66 35.  ]
 ...
 [ 1.68 15.88 40.  ]
 [ 1.7  61.21 30.  ]
 [ 1.85 60.26 41.  ]]

In [ ]:
df=pd.DataFrame({
    "Altura":altura,
    "Peso":peso,
    "Edad":edad
})
df.head()
# Una forma de hacer un DF con mis variables generadas aleatoriamente

   Altura   Peso  Edad
0    1.52  65.91  29.0
1    1.57  55.82  30.0
2    1.90  71.66  35.0
3    1.97  72.81  29.0
4    1.77  19.11  40.0

In [ ]:
df2=pd.DataFrame(personas_tallas, columns=("Altura","Peso","Edad"))
df2.head()
#otra forma de hacer un DF a partir del apilado de arrays

   Altura   Peso  Edad
0    1.52  65.91  29.0
1    1.57  55.82  30.0
2    1.90  71.66  35.0
3    1.97  72.81  29.0
4    1.77  19.11  40.0

In [ ]:
#Calculo el promedio de la altura
media_altura=np.round(np.mean(personas_tallas[:,0]),2)
print(f"El promedio de la altura es de: {media_altura}")

El promedio de la altura es de: 1.7

In [ ]:
#Obtengo la mediana del peso
mediana_peso=np.round(np.median(personas_tallas[:,1]),2)
print(f"La mediana del peso es de: {mediana_peso}")

La mediana del peso es de: 64.07

In [32]:
#Calculo la desviacion estandar de la edad
dvst_edad=np.std(personas_tallas[:2])
print(f"La desviacion estandar es: {dvst_edad}")

La desviacion estandar es: 24.406774105199197

In [36]:
#Calculo la correlacion entre altura y peso
coef_corre=np.corrcoef(personas_tallas[:,0],personas_tallas[:,1])
print(f"La correlacion entre altura y peso es de {coef_corre}")

La correlacion entre altura y peso es de [[ 1.         -0.00105831]
 [-0.00105831  1.        ]]