## **Filtrado DF**

In [20]:
import pandas as pd
import numpy as np
brics=pd.read_csv("base.csv",index_col=0)

In [21]:
brics

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

**Selecciona los paises con un area arriba de 8 million km2

In [22]:
#La que se me ocurrio hacer
print(brics[brics['area']>8])

   country   capital    area  population
BR  Brazil  Brasilia   8.516       200.4
RU  Russia    Moscow  17.100       143.5
CH   China   Beijing   9.597      1357.0

In [23]:
#La que la clase me sugirio
is_huge=brics['area']>8

In [24]:
brics[is_huge] # Da el mismo resultados

   country   capital    area  population
BR  Brazil  Brasilia   8.516       200.4
RU  Russia    Moscow  17.100       143.5
CH   China   Beijing   9.597      1357.0

In [25]:
#Ahora con numpy busca los que son mayores de 8 y menores de 10

### **Ojo aqui que no es necesario pasar el df a un arreglo de Numpy ya lo puede procesar**

In [ ]:
brics[np.logical_and(brics['area']>8,brics["area"]<10)]

   country   capital   area  population
BR  Brazil  Brasilia  8.516       200.4
CH   China   Beijing  9.597      1357.0