## **Indexacion Df**

#### Por corchetes 
#### loc
#### iloc

In [16]:
import pandas as pd
brics=pd.read_csv("base.csv",index_col=0)
brics.head()

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [18]:
#Corchetes
print(brics["country"])

BR          Brazil
RU          Russia
IN           India
CH           China
SA    South Africa
Name: country, dtype: object

In [ ]:
print(type(brics["country"])) #todo Ojo al dato aqui no es un DF normal

<class 'pandas.core.series.Series'>

In [23]:
print(brics[["country","capital"]]) #todo Este ya seria un DF normalito

         country    capital
BR        Brazil   Brasilia
RU        Russia     Moscow
IN         India  New Delhi
CH         China    Beijing
SA  South Africa   Pretoria

In [ ]:
print(type(brics[["country"]]))

<class 'pandas.core.frame.DataFrame'>

In [ ]:
brics[1:4]  # hacer slicing

   country    capital    area  population
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0
CH   China    Beijing   9.597      1357.0

In [41]:
#! loc (label-based)] Basado en etiquetas

In [26]:
brics.loc["RU"] # Aqui de igual forma se tiene la serie

country       Russia
capital       Moscow
area            17.1
population     143.5
Name: RU, dtype: object

In [32]:
brics.loc[['RU']]# aqui ya esta normalito

   country capital  area  population
RU  Russia  Moscow  17.1       143.5

In [33]:
brics.loc[["RU","IN",'CH']]

   country    capital    area  population
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0
CH   China    Beijing   9.597      1357.0

In [36]:
brics.loc[['RU','IN','CH'],['country','capital']]

   country    capital
RU  Russia     Moscow
IN   India  New Delhi
CH   China    Beijing

In [39]:
brics.loc[:,['country','capital']] #Todas las filas solo esas dos columnas

         country    capital
BR        Brazil   Brasilia
RU        Russia     Moscow
IN         India  New Delhi
CH         China    Beijing
SA  South Africa   Pretoria

In [40]:
brics.loc[["RU"]]

   country capital  area  population
RU  Russia  Moscow  17.1       143.5

In [42]:
#iloc (integer position-based) Badado en la posicion

In [44]:
brics.iloc[[1]]

   country capital  area  population
RU  Russia  Moscow  17.1       143.5

In [47]:
brics.iloc[[1,2,3],[0,1]]

   country    capital
RU  Russia     Moscow
IN   India  New Delhi
CH   China    Beijing

In [48]:
brics.iloc[:,[0,1]]

         country    capital
BR        Brazil   Brasilia
RU        Russia     Moscow
IN         India  New Delhi
CH         China    Beijing
SA  South Africa   Pretoria