## **Pandas y diccionarios**

In [1]:
#Se dio un repason sobre lo que son los diccionarios
#Y se abordo Pandas inmediatamente

In [4]:
dict = {
    "country": ["Brazil", "Russia", "India", "China", "South Africa"],
    "capital":["Brasilia", "Moscow", "New Delhi", "Beijing", "Pretoria"],
    "area": [8.516, 17.10, 3.286, 9.597, 1.221],
    "population": [200.4,143.5,1252,1357,52.98]
}

In [ ]:
import pandas as pd
df=pd.DataFrame(dict)#Hasta aca normalito
df.index=["BR","RU","IN","CH","SA"] # Esto es nuevo aca agrego los indices en forma de lista
df.head()

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [10]:
df2=pd.read_csv("base.csv",index_col=0) # Aqui agrego otro argumento despues de la direccion de la base index_col=se indica indice
df.head()

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98